
      /* Theme switcher styles */
      .theme-switcher {
        padding: 10px;
        background-color: #111;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

      .theme-switcher i {
        font-size: 24px;
        color: white;
      }

      .theme-switcher i.sun {
        display: none;
      }

      html.dark .theme-switcher i.sun {
        display: block;
      }

      html.light .theme-switcher i.moon {
        display: block;
      }

      .theme-switcher i.moon {
        display: none;
      }
